<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Airdrone Information</title>
    <link rel="stylesheet" href="/static/css/index.css" />
</head>

<body>
    <div class="map_frame">
        <h2 class="maptitle">Map</h2>
        <br>
        <div id="draws">

        </div>
    </div>

    <!--<img src='http://'+window.location.hostname+':8000/camera/test/'> -->
    <div id="image_frame">
        <button class="camera_select_button" id="camera_1">Camera_1</button>
        <button class="camera_select_button" id="camera_2">Camera_2</button>
        <button class="camera_select_button" id="camera_3">Camera_3</button>
        <button class="camera_select_button" id="camera_4">Camera_4</button>
        <br>
        <img src='#' id='imagesource'>
    </div>
    <input class="basic-slide" id="code" type="text" placeholder="The Code" disabled/>
    <script src="/static/js/two.js"></script>
    <script src="/static/js/index.js"></script>
</body>


</html>
